.mobileMenu {
  width: 100%;
  margin-bottom: 2rem;
}

.mobileMenu > ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.hamburger {
  position: absolute;
  aspect-ratio: 1;
  background: transparent;
}

@media only screen and (max-width: 600px) {
  .hamburger {
    top: 1.2rem;
    right: 0.9rem;
  }
}
