@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        font-family: "Nunito", sans-serif;
    }

    .grow {
        animation: grow 1s ease, fade-in 1s linear;
    }

    .alert {
        @apply bg-[crimson] text-center text-white mt-4 rounded-lg w-full mx-auto p-2;
    }

    .dropdown-content a {
        @apply p-1;
    }

    .profile {
        @apply rounded-tr-3xl rounded-tl-3xl bg-[#daecea] border-4 border-b-0 border-l-0 border-t-0 border-[#b2e9d3] p-3 pr-16 pl-16 text-center hover:bg-[#edfefb];
    }

    .notification {
        @apply fixed right-4 bottom-4 z-[100] px-6 py-6 bg-[#00a762] text-lg text-white rounded-lg;
    }

    .infinite {
        animation: scale 1s ease-in-out infinite;
    }

    .home-page {
        @apply grid grid-cols-2 max-w-[1300px] justify-center mx-auto mt-6 gap-4;
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes grow {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }

    @keyframes scale {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.15);
        }
    }
}
